<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<body>
  <div th:fragment="site-footer">
    <footer class="header-style">
      <div class="footer-content">
        <div class="footer-logo">
          <img th:src="@{/images/logo.jpg}" alt="TeamFOOD"/>
          <span>TeamFOOD</span>
        </div>
        <div class="footer-info">
          <span>© 2025 TeamFOOD. All Rights Reserved.</span>
          <span>Email: foodhkdhotro@gmail.com</span>
          <span>Hotline: 0868093133</span>
          <a href="https://www.facebook.com/lehonggiahuy2407" target="_blank" rel="noopener noreferrer">Facebook</a>
          <a href="#" target="_blank" rel="noopener noreferrer">Instagram</a>
          <a href="#" target="_blank" rel="noopener noreferrer">Twitter</a>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
