<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head><title>Fragment Header</title></head>
<body>
  <div th:fragment="site-header">
    <nav>
      <div class="logo">
          <a th:href="@{/}">
              <img th:src="@{/images/logo.jpg}" alt="TeamFOOD"/>
          </a>
      </div>
      <ul>
          <li><a th:href="@{/#}">Trang chủ</a></li>
          <li><a th:href="@{/menu}">Thực đơn</a></li>
          <li><a th:href="@{/cart}">Sự kiện</a></li>
          <li><a th:href="@{/status}">Dịch vụ</a></li>
      </ul>
      <div class="right-menu">
          <a th:href="@{/login}">Đăng nhập</a>
      </div>
    </nav>
  </div>
</body>
</html>
